.backGround { 
  width: 100%; 
  height: 100vh; 
 
  background: url("../../assets/backCreateCourses.jpg"); 
  background-size: cover; 
  flex-direction: column; 
} 
.SearchLine { 
  display: flex; 
  margin-left: 150px; 
  margin-right: 150px; 
} 
.btnAddCourses { 
  margin-top: 50px; 
  margin-left: 20px; 
  width: 200px; 
  height: 34px; 
  border-radius: 20px; 
  background-color: rgb(230, 140, 24); 
  border: 2px solid rgb(230, 140, 24); 
 
  padding-top: 3px; 
} 
.listTask { 
  margin-top: 10px; 
  margin-left: 150px; 
  margin-right: 150px; 
  display: flex; 
  flex-wrap: wrap; 
} 
.btnAddCourses:hover { 
  border: 2px solid rgb(230, 140, 24); 
  background-color: rgb(173, 105, 18); 
} 
.marginDiv { 
  margin-left: 150px; 
  margin-right: 150px; 
}