.backGround {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  background: url("../../assets/backCreateCourses.jpg");
  background-size: cover;
  display: flex;
  display: flex;
  flex-direction: column;
}
.content {
  margin: 20px 150px 10px 150px;
  border-radius: 40px;
  background-color: #f2f2f2;
  opacity: 0.95;
}
.nameCourses {
  width: 95%;
  margin-top: 15px;
  margin-left: 25px;
  border-radius: 10px;
  padding: 5px;
}
.blockIput {
  margin: 10px;
}
.textArea {
  width: 95%;
  height: 95px;
  margin-top: 15px;
  margin-left: 25px;
  border-radius: 10px;
  padding: 5px;
}
.btnFile {
  margin-left: 25px;
  border-radius: 10px;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: rgb(230, 140, 24);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
.workPlace {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.btnSave {
  margin-left: 35px;
  margin-bottom: 10px;
  border: none;
  background: rgb(230, 140, 24);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
